@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .box {
        @apply container mx-auto px-5
    }
    .btn{
        @apply  py-2 px-4 rounded-lg border-4 transition-all
    }
    .half-underline{
        @apply bg-gradient-to-t from-saltt-400 to-saltt-400 bg-no-repeat bg-[length:100%_20px] bg-[center_top_88%]
    }
}
